/* html {
  background-image: url("https://gfycat.com/accuratescrawnyankole");
} */

#mainContainer {
  /* background-color: red; */
  margin: 150px 200px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.appsContainer {
  /* background-color: blue; */
  margin: 40px;
  height: 100px;
  width: 375px;
  border-radius: 35px;
  border: solid;
  object-fit: cover;
}